#!/usr/bin/make -f

export DESTDIR = debian/cosmic-ext-ime
export VENDOR ?= 1
# Ubuntu's versioned toolchain (noble's default rustc is older than our MSRV).
ifneq (,$(wildcard /usr/lib/rust-1.91/bin/cargo))
export PATH := /usr/lib/rust-1.91/bin:$(PATH)
endif

%:
	dh $@

override_dh_auto_clean:
	if ! ischroot && test "${VENDOR}" = "1" && ! test -f vendor.tar; then \
		just vendor; \
	fi

override_dh_auto_build:
	if test -f vendor.tar; then just build-vendored; else just build-release; fi

override_dh_auto_install:
	just rootdir=$(DESTDIR) install

override_dh_auto_test:
